@import url('https://fonts.googleapis.com/css?family=Roboto:100');

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  min-width: 200px;
}

.intro-header {
  background-color: rgba(255,255,255,0.6);
  margin-bottom: 1px
  display: flex;
  justify-content: flex-end;
  flex-direction: column;

}

.float-right {
  float: right;
}

.clear-right {
  clear: right;
}

header {
  min-width: 100%;
}

#header-name {
  margin-bottom: 1px;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 2em;
}

#short-description {
  margin-top: 0px;
}

@media screen and (max-width: 375px) {
  #header-name {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 1.7em;
  }

  #short-description {
    margin-top: 0px;
    font-size: 1em;
  }
}

@media screen and (max-width: 275px) {
  #header-name {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 1.4em;
  }

  #short-description {
    margin-top: 0px;
    font-size: 0.8em;
  }
}
